<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarDavAltMarkup" aria-controls="navbarDavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div [routerLink]="['/dashboard']" routerLinkActive="active" class="nav-link cursor-pointer">Dashboard</div>
</button> 
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarDavAltMarkup" aria-controls="navbarDavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div [routerLink]="['/busqueda']" routerLinkActive="active" class="nav-link cursor-pointer">Busquedas</div>
</button> 
<router-outlet></router-outlet>